
.footer{
	background-color:  hsl(233, 26%, 24%);
	padding: 5rem 0;
	width: 100%;
	height: auto;
	display: flex;
	/*align-items: center;*/
}
.footer__container{
	width: 100%;	
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__left{
	flex-shrink: 1;
	flex-grow: 1;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
 .footer__left .left__list{

 }
.footer__left .left__list li{
	padding: 1rem 0;

}
.footer__left .left__list li  a{
	color:white;
}
.left__group {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.logo__social{
	padding:2rem 0;
}
.logo__social a{
	color :white;
}

.footer__left .img__logo{
	width: auto;
	height: auto;
	object-fit: contain;
}

.footer__right{
	flex-shrink: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

}
.footer__right .tag{
	color:hsl(233, 8%, 62%);
	font-size: 1.5rem;
}
.tag{
	
}
.btn--footer{
	margin: 3rem 0;
}
